$size: 8em;
$tilt: 4;
$shake: 0.15;
$speed: 0.3;

$array_test: r1 r2 r3 r4 r5 r6 r7 r8;

.card {
    padding: 1em;
    width: $size;
    height: $size;
    border-radius: 1em;
    text-align: center;
    font-size: 1em;
    border: 0.1em solid;
    display: grid;
    grid-template-rows: 2fr 1fr;
    transition: transform .1s;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
    &__icon {
        width: 3em;
        margin: auto;
    }
    &__title {
        font-weight: 700;
    }
    &__desc {
        font-size: 0.7em;
        padding: 0.5em 0em;
    }
    @for $i from 1 through 7 {
        &--active:nth-child(#{$i}) {
            animation: 
                nth($array_test, random(length($array_test)))
                $speed + (random(20) * .01) + s
                linear
                infinite;
        }
    }

}

@for $i from 1 through length($array_test) {
    $sign: nth(-1 1, random(2));
    $rand_tilt: $tilt * (random(20) * .01 + 1);

    @keyframes #{nth($array_test, $i)} {
        0% {
            transform:
                rotate(0deg) 
                translate(0em, 0em);
        }
        25% {
            transform:
                rotate($sign * $rand_tilt + deg) 
                translate(nth(-1 1, random(2)) * $shake + em, nth(-1 1, random(2)) * $shake + em);
        }
        50% {
            transform:
                rotate(0deg) 
                translate(0em, 0em);
        }
        75% {
            transform: 
                rotate(-$sign * $rand_tilt + deg) 
                translate(nth(-1 1, random(2)) * $shake + em, nth(-1 1, random(2)) * $shake + em);
        }
        100% {
            transform: 
                rotate(0deg) 
                translate(0em, 0em);
        }
    }
}